#anchorage-repair {
  padding: 1em;
}
#anchorage-repair .info-row {
  padding: 2em 0;
}
#anchorage-repair .info-col {
  align-content: center;
  text-align: center;
}
#anchorage-repair .label {
  font-size: 90%;
  font-weight: normal;
}
#anchorage-repair .lv-label {
  display: block;
  font-size: 70%;
}
#anchorage-repair .not-available {
  font-style: italic;
}
#anchorage-repair td,
#anchorage-repair th {
  text-align: center;
  vertical-align: middle;
}
#anchorage-repair .panel .hidden {
  display: none;
}
