#anchorage-repair {
  padding: 1em;
  height: 100%;
}
#anchorage-repair .info-row {
  padding: 2em 0;
}
#anchorage-repair .info-col {
  align-content: center;
  text-align: center;
}
#anchorage-repair .label {
  font-size: 90%;
  font-weight: normal;
}
#anchorage-repair .lv-label {
  display: block;
  font-size: 70%;
}
#anchorage-repair .not-available {
  font-style: italic;
}
#anchorage-repair td,
#anchorage-repair th {
  text-align: center;
  vertical-align: middle;
}
#anchorage-repair .panel .hidden {
  display: none;
}
#anchorage-repair .nav li.can-repair {
  flex: 2;
}
#anchorage-repair #anchorage-tabs {
  height: 100%;
}
#anchorage-repair .tab-content {
  height: 100%;
}
#anchorage-repair .candidate-pane {
  height: 100%;
}
#anchorage-repair #candidate-list {
  height: 100%;
}
#anchorage-repair #candidate-list ::-webkit-scrollbar {
  width: 1em;
}
#anchorage-repair .candidate-ship-item {
  display: flex;
  align-items: center;
}
#anchorage-repair .ship-name {
  font-size: 120%;
}
